{% extends 'base.html' %}

{% block content %}
    <div class="my-4">
        <div class="container">
            <div class="container mt-4">
                <div class="row justify-content-center">
                    <div class="col-md-9">
                        <h2 class="mb-3">{{ post.title }}</h2>
                        <p class="text-muted">Автор: {{ post.author }}</p>
                        <p class="text-muted">Дата публикации: {{ post.date }}</p>
                        <img src="../static/images/{{ post.image_id }}" alt="Post Image" class="img-fluid mb-4">
                        <p>{{ post.text }}</p>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <h3 class="mt-4">Оставьте комментарий</h3>
                        <h3 class="mt-4">Leave a Comment</h3>
                        <form method="post" action="https://web-lab1-safronov.edu.zlp.ooo/posts/0#">
                            <div class="form-group">
                                <textarea name="comment" rows="4" class="form-control"
                                    placeholder="Write a comment"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary mt-2">Submit</button>
                        </form>

                        <h3 class="mt-5">Комментарии</h3>
                        {% for comment in post.comments %}
                        <ul class="list-unstyled  p-3  border-bottom" style="font-size: 14px;">
                            <li class="media mb-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <img src="../static/images/avatar.jpg" class="rounded" alt="Commenter Image"
                                            style="width: 50px; height: 50px;">
                                    </div>
                                    <div class="flex-grow-1 ms-2">
                                        <h5>{{ comment.author }}<small class="text-muted"><i></i></small></h5>
                                        <p>{{ comment.text }}</p>
                                        {% for reply in comment.replies %}
                                        <ul class="list-unstyled mt-3">
                                            <li class="media mb-4">
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0">
                                                        <img src="../static/images/avatar.jpg" class="rounded"
                                                            alt="Commenter Image" style="width: 50px;height: 50px;">
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <h5>{{ reply.author }} <small class="text-muted"><i></i></small>
                                                        </h5>
                                                        <p>{{reply.text}}</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        {% endfor %}
                                    </div>
                                </div>
                            </li>

                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}